section.banner-wrap {
    width: 1500px;
    height: 375px;
    margin: 0 auto;
    overflow: hidden;
}

div.banner-container {
    width: 10500px;
    height: 304.77px;
}

div.image {
    float: left;
    width: 1500px;
    height: 375px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}